*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    padding-bottom: 1%;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1%;
    margin-bottom: 1%;
    font-weight: bold;
}
h4{
    background-color: grey;
    color: white;
    text-align: center;
    padding: 1%;
    margin-bottom: 1%;
    font-weight: bold;
}
table {
    width: 100%;
}
th {
    font-weight: bold;
    text-align: center;
}
.form-inline {
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-inline select,
.form-inline .static-box,
.form-inline button {
    height: 40px;
}

.static-box {
    overflow: hidden;
    width: 100%;
}
.narrow-select-idx {
    width: fit-content;
}
.narrow-select-doc {
    width: 100%;
}
.No{
    width: auto;
}
tr{
    height: 2px;
}