body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1%;
    margin-bottom: 1%;
    font-weight: bold;
}
table {
    width: 100%;
}
th {
    font-weight: bold;
    text-align: center;
}
.form-inline {
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-inline select,
.form-inline .static-box,
.form-inline button {
    height: 40px;
}

.static-box {
    background-color: #fff;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    overflow: hidden;
    width: 100%;
}
.narrow-select-doc, .narrow-select-idx{
    overflow: auto;
}
.narrow-select-idx {
    width: fit-content;
}
.narrow-select-doc {
    width: 100%;
}
.No{
    width: auto;
}
.contenido{
    font-size: 90%;
}